<ion-header>
	<ion-navbar>
		<div class="header">
			<ion-title>
				mes 5
			</ion-title>
			<ion-icon name="add" class="add" (tap)='journalView()'></ion-icon>
		</div>
	</ion-navbar>
</ion-header>

<ion-content>
	
	<div>
		<div class="journals">
<!-- 			<div *ngFor="let journal of journals">

				<div *ngIf=" journal.month == 5 " >
					<h2 (tap)="showJournal( journal )">{{ journal.title }}</h2>

					<p> {{ journal.event_date | date }} </p>

				</div>
							
			</div> -->

			<div *ngFor="let journal of journals_sql">

				<div *ngIf=" journal.month == 5">
					
					<h2 (tap)="showJournalSQL(journal)">{{ journal.title }}</h2>

					<p> {{ journal.event_date | date }} </p>



				</div>

							
			</div>
		</div>
	</div>

</ion-content>