months-page {
	
	
	.header{
		display: flex;

		align-items: center;
		.title{
			padding: 20px;
			
		}
		.settings{
			margin: 0 10px;
			font-size: 35px;
		}
	}

	.container{

		margin-top: 10px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.mes{
			flex: 1;
			margin: 30px;
			padding: 10px;
			background: #FFE6F7;
			border-radius: 5px;
			p{
				text-align: center;
				font-family:  'IBM Plex Sans', sans-serif; 
			}
		}
	}

}